<section>
<h2>コメント</h2>

<h3>コメントを入力する</h3>

<%= form_with(model: [commentable, Comment.new], local: true) do |form| %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h3>コメント一覧</h3>

<% if @comments.size > 0 %>
  <% @comments.each do |comment| %>
    <div class="comment">
      <p>
        <strong><%= Comment.human_attribute_name(:comment) %>:</strong>
        <%= comment.content %>
      </p>
      <p>
        <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
        <%= comment.created_at %>
      </p>
      <p>
        <% if User.find(comment.user_id).name.present? %>
          <strong><%= User.human_attribute_name(:name) %>:</strong>
          <%= User.find(comment.user_id).name %>
        <% else %>
          <strong><%= User.human_attribute_name(:email) %>:</strong>
          <%= User.find(comment.user_id).email %>
        <% end %>
      </p>
    </div>
  <% end %>
<% else %>
  <div>コメントはまだありません<div>
<% end %>

</section>
